h1 {
    text-align: left;
    margin: 20px 20px;
}

.layout {
    display: flex;
    gap: 40px;          /* space between cards */
    padding: 40px;
}

.card {
    border: 4px solid black;
    border-radius: 20px;
    padding: 20px;
}

.small-card {
    width: 300px;
    height: 500px;
    border-color: red;
}

.large-card {
    flex: 1;
    border: 4px solid black;
    border-radius: 20px;
    padding: 20px;
    min-height: 500px;
}

/* Shared grid structure */
.expenses-grid {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 100px; /* added column */
    padding: 10px 0;
    align-items: center;
}

/* Header styling */
.header {
    font-weight: bold;
    border-bottom: 2px solid black;
}

/* Each row */
.expense-row {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.expense-row:hover {
    background: #f5f5f5;
}


/* .card {
    padding: 20px;
    margin: 20px 20px;
    border: 1px solid #ca1414;
    border-radius: 5px;
    margin-top: 10px;
    width: 400px;
    height: 500px; 

    display: block;
} */

h3 {
    text-align: center;
}

#expense-name {
    margin: 20px auto;
    width: 80%;
    height: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#expense-name::placeholder {
    color: gray;
    opacity: 0.7;
    font-size: 18px;
    padding: 10px 10px;
}

#category-select {
    margin: 20px auto;
    width: 80%;
    height: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 24px;
    padding: 4px 11px;
}

#expense-amount {
    margin: 20px auto;
    width: 80%;
    height: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#expense-amount::placeholder {
    color: gray;
    opacity: 0.7;
    font-size: 18px;
    padding: 10px 10px;
}

#add-btn {
    display: block;
    margin: -10px auto;
    padding: 10px 40px;
    font-size: 16px;
    border-radius: 5px;
}
